Zscaler-Oauth2-LookupSandboxReport/azuredeploy.json
{
    "$schema":  "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion":  "1.0.0.0",
    "metadata":  {
        "title":  "",
        "description":  "",
        "prerequisites":  "",
        "postDeployment":  [
        ],
        "prerequisitesDeployTemplateFile":  "",
        "lastUpdateTime":  "",
        "entities":  [
        ],
        "tags":  [
        ],
        "support":  {
            "tier":  "community",
            "armtemplate":  "Generated from https://github.com/Azure/Azure-Sentinel/tree/master/Tools/Playbook-ARM-Template-Generator"
        },
        "author":  {
            "name":  ""
        }
    },
    "parameters":  {
        "PlaybookName":  {
            "defaultValue":  "Zscaler-Oauth2-LookupSandboxReport",
            "type":  "string"
        }
    },
    "variables":  {
        "MicrosoftSentinelConnectionName":  "[concat('MicrosoftSentinel-', parameters('PlaybookName'))]"
    },
    "resources":  [
        {
            "properties":  {
                "provisioningState":  "Succeeded",
                "state":  "Enabled",
                "integrationAccount":  {
                    "name":  "Zscaler-Logicapp",
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/integrationAccounts/Zscaler-Logicapp')]",
                    "type":  "Microsoft.Logic/integrationAccounts"
                },
                "definition":  {
                    "$schema":  "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion":  "1.0.0.0",
                    "parameters":  {
                        "$connections":  {
                            "defaultValue":  {
                            },
                            "type":  "Object"
                        }
                    },
                    "triggers":  {
                        "Microsoft_Sentinel_incident":  {
                            "type":  "ApiConnectionWebhook",
                            "inputs":  {
                                "body":  {
                                    "callback_url":  "@{listCallbackUrl()}"
                                },
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path":  "/incident-creation"
                            }
                        }
                    },
                    "actions":  {
                        "Entities_-_Get_FileHashes":  {
                            "runAfter":  {
                                "Get_Base_URL":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "ApiConnection",
                            "inputs":  {
                                "body":  "@triggerBody()?['object']?['properties']?['relatedEntities']",
                                "host":  {
                                    "connection":  {
                                        "name":  "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "method":  "post",
                                "path":  "/entities/filehash"
                            }
                        },
                        "Get_Base_URL":  {
                            "runAfter":  {
                            },
                            "type":  "InitializeVariable",
                            "inputs":  {
                                "variables":  [
                                    {
                                        "name":  "BaseURL",
                                        "type":  "string",
                                        "value":  "zsapi.zscaler.net/api/v1"
                                    }
                                ]
                            }
                        },
                        "Get_MD5_Hash":  {
                            "foreach":  "@body('Entities_-_Get_FileHashes')?['Filehashes']",
                            "actions":  {
                                "Execute_JavaScript_Code":  {
                                    "runAfter":  {
                                        "Parse_JSON":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "JavaScriptCode",
                                    "inputs":  {
                                        "code":  "var str = workflowContext.actions.Parse_JSON.outputs.body.hashValue\r\nvar parsed = {};\r\nvar pairs = str.split(\";\");\r\nfor (var i = 0, len = pairs.length, keyVal; i \u003c len; ++i) {\r\n\tkeyVal = pairs[i].split(\"=\");\r\n\tif (keyVal[0]) {\r\n\t\tparsed[keyVal[0]] = keyVal[1];\r\n\t}\r\n}\r\n\r\n return parsed.md5hashcs6Label;"
                                    }
                                },
                                "HTTP":  {
                                    "runAfter":  {
                                        "Parse_JSON_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Http",
                                    "inputs":  {
                                        "headers":  {
                                            "Authorization":  "Bearer @{body('Parse_JSON_2')?['access_token']}"
                                        },
                                        "method":  "GET",
                                        "uri":  "https://@{variables('BaseURL')}/sandbox/report/@{body('Execute_JavaScript_Code')}?details=full"
                                    }
                                },
                                "Parse_JSON":  {
                                    "runAfter":  {
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@items('Get_MD5_Hash')",
                                        "schema":  {
                                            "properties":  {
                                                "Type":  {
                                                    "type":  "string"
                                                },
                                                "Value":  {
                                                    "type":  "string"
                                                },
                                                "algorithm":  {
                                                    "type":  "string"
                                                },
                                                "friendlyName":  {
                                                    "type":  "string"
                                                },
                                                "hashValue":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Parse_JSON_2":  {
                                    "runAfter":  {
                                        "Zscaler-Oauth2-Authentication_2":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "ParseJson",
                                    "inputs":  {
                                        "content":  "@body('Zscaler-Oauth2-Authentication_2')",
                                        "schema":  {
                                            "properties":  {
                                                "access_token":  {
                                                    "type":  "string"
                                                },
                                                "expires_in":  {
                                                    "type":  "integer"
                                                },
                                                "ext_expires_in":  {
                                                    "type":  "integer"
                                                },
                                                "token_type":  {
                                                    "type":  "string"
                                                }
                                            },
                                            "type":  "object"
                                        }
                                    }
                                },
                                "Zscaler-Oauth2-Authentication_2":  {
                                    "runAfter":  {
                                        "Execute_JavaScript_Code":  [
                                            "Succeeded"
                                        ]
                                    },
                                    "type":  "Workflow",
                                    "inputs":  {
                                        "host":  {
                                            "triggerName":  "manual",
                                            "workflow":  {
                                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/Zscaler-Oauth2-Authentication')]"
                                            }
                                        }
                                    }
                                }
                            },
                            "runAfter":  {
                                "Entities_-_Get_FileHashes":  [
                                    "Succeeded"
                                ]
                            },
                            "type":  "Foreach"
                        }
                    },
                    "outputs":  {
                    }
                },
                "parameters":  {
                    "$connections":  {
                        "value":  {
                            "azuresentinel":  {
                                "connectionId":  "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                                "connectionName":  "[variables('MicrosoftSentinelConnectionName')]",
                                "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]",
                                "connectionProperties":  {
                                    "authentication":  {
                                        "identity":  "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', resourceGroup().name, '/providers/Microsoft.Logic/workflows/Zscaler-Oauth2-Authentication')]",
                                        "type":  "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                },
                "accessControl":  {
                }
            },
            "name":  "[parameters('PlaybookName')]",
            "type":  "Microsoft.Logic/workflows",
            "location":  "[resourceGroup().location]",
            "tags":  {
                "auth":  "Oauth2",
                "hidden-SentinelTemplateName":  "Zscaler-Oauth2-LookupSandboxReport",
                "hidden-SentinelTemplateVersion":  "1.0"
            },
            "identity":  {
                "type":  "SystemAssigned"
            },
            "apiVersion":  "2017-07-01",
            "dependsOn":  [
                "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]"
            ]
        },
        {
            "type":  "Microsoft.Web/connections",
            "apiVersion":  "2016-06-01",
            "name":  "[variables('MicrosoftSentinelConnectionName')]",
            "location":  "[resourceGroup().location]",
            "kind":  "V1",
            "properties":  {
                "displayName":  "[variables('MicrosoftSentinelConnectionName')]",
                "customParameterValues":  {
                },
                "parameterValueType":  "Alternative",
                "api":  {
                    "id":  "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/Azuresentinel')]"
                }
            }
        }
    ]
}
